<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fantasy Football Manager</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id = "header">Fantasy Football Manager</div>

    <h2>Available Players</h2>
    <textarea id = "availablePlayers" readonly>Player list goes here</textarea>

    <h2>My Team</h2>
    <div id = "teamContainer">
        <form id = "playerForm" action = "/submitToDB" method = "post">
            <fieldset legend="Add Player to Team">
                First Name <input type = "text" id = "firstname" value = "Lamar" required>
                <br><br>
                Last Name <input type = "text" id = "lastname" value = "Jackson" required>
                <br><br>
                <button type="reset">Reset</button>
                <button type="submit">Add</button>
            </fieldset>
        </form>

        <textarea id = "currentRoster" readonly>Once form submitted, player submitted to MongoDB. Player then pulled from MongoDB on page refresh</textarea>
    </div>
    <hr>
</body>
</html>
